@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,700;1,300;1,600&family=Poppins:wght@100;200;300;400&family=Source+Code+Pro&family=Water+Brush&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
}
nav > .nav-links > ul > li{
    display: inline-block;
}

nav > .nav-links > ul > li > a{
    list-style: none;
    text-decoration: none;
}

nav > .logo, .nav-links > ul{
    margin: 30px;
}

#header{
    background-image: url("../images/banner.png");
    background-size: cover;
    height: 80vh;
}